body {
  margin: 0;
  padding: 0;
}

.background-image {
  background-image: url("/images/errorImage.webp");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: flex-end; /* Align items to the right */
  align-items: center; /* Center items vertically */
  padding-right: 20px; /* Add padding to the right side */
}

.error {
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Apply blur effect */
  width: 30%; /* Adjust width as needed */
  height: 60%; /* Adjust height as needed */
  padding: 20px; /* Add padding inside the error box */
  border-radius: 10px; /* Add rounded corners */
  text-align: center; /* Center text horizontally */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Add shadow effect */
}

h1 {
  font-size: 60vh;
  color:#fff;
  margin-left: 5rem;
  /* margin-bottom: 10px; */
}

p {
  font-size: 60px;
  color:#fff;
  /* margin-bottom: 20px; */
}

.back-home {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.back-home:hover {
  background-color: #0056b3;
}
